*.sql linguist-detectable

# homework
homework/** linguist-vendored
homework/hw01/hw01.py -linguist-vendored
homework/hw02/hw02.py -linguist-vendored
homework/hw03/hw03.py -linguist-vendored
homework/hw04/hw04.py -linguist-vendored
homework/hw06/hw06.scm -linguist-vendored
homework/hw07/hw07.scm -linguist-vendored
homework/hw07/hw07.sql -linguist-vendored

# labs
labs/** linguist-vendored
labs/lab00/lab00.py -linguist-vendored
labs/lab01/lab01.py -linguist-vendored
labs/lab01/lab01_extra.py -linguist-vendored
labs/lab02/lab02.py -linguist-vendored
labs/lab02/lab02_extra.py -linguist-vendored
labs/lab03/lab03.py -linguist-vendored
labs/lab03/lab03_extra.py -linguist-vendored
labs/lab04/lab04.py -linguist-vendored
labs/lab04/lab04_extra.py -linguist-vendored
labs/lab05/lab05.py -linguist-vendored
labs/lab05/lab05_extra.py -linguist-vendored
labs/lab06/lab06.py -linguist-vendored
labs/lab07/lab07.py -linguist-vendored
labs/lab08/classes.py -linguist-vendored
labs/lab09/lab09.py -linguist-vendored
labs/lab09/lab09_extra.py -linguist-vendored
labs/lab10/lab10.scm -linguist-vendored
labs/lab10/lab10_extra.scm -linguist-vendored
labs/lab11/expr.py -linguist-vendored
labs/lab12/lab12.scm -linguist-vendored
labs/lab12/lab12_extra.scm -linguist-vendored
labs/lab13/lab13.sql -linguist-vendored
labs/lab13/lab13_extra.sql -linguist-vendored
labs/lab14/lab14.py -linguist-vendored
labs/lab14/lab14.scm -linguist-vendored

# projects
projects/** linguist-vendored
projects/hog/hog.py -linguist-vendored
projects/typing_test/typing_test.py -linguist-vendored
projects/ants/ants.py -linguist-vendored
projects/scheme/questions.scm -linguist-vendored
projects/scheme/scheme.py -linguist-vendored
projects/scheme/scheme_reader.py -linguist-vendored
